[Desktop Entry]
Exec=kmenuedit
Icon=kmenuedit
X-DocPath=kmenuedit/index.html
Type=Application
X-KDE-StartupNotify=true
OnlyShowIn=KDE;

Name=Menu Editor
Name[nl]=Menubewerker
Name[uk]=Редактор меню
Name[x-test]=xxMenu Editorxx

X-DBUS-StartupType=Unique
Categories=Qt;KDE;Settings;
NoDisplay=true
